# The git project URL where the nats-to-syslog pipeline scripts and yml files are stored
git-project-url: https://github.com/pivotalservices/concourse-pipeline-samples.git

###### PCF CF API end point
pcf-api: <cf login -a api.run.pivotal.io>

deploy-username: <tovenki.ch@gmail.com>
deploy-password: <Venki@521>
deploy-organization: system
deploy-space: system

